*

!.gitignore
!LICENSE
!MANIFEST.in
!README.md

!setup.py
!pyBedGraph/
!pyBedGraph/*.py
!pyBedGraph/*.c
!pyBedGraph/*.pyx
!pyBedGraph/data/
!pyBedGraph/data/chrom_sizes/
!pyBedGraph/data/chrom_sizes/*.sizes
!test/
!test/test_files/
!test/test_files/*
!test/*.py
!test/*.conf
!graphs/
!graphs/*
!graphs/v-1_graphs/**
!graphs/v1_graphs/**
!graphs/v2_graphs/**
graphs/log.txt
