*

!.gitignore
!LICENSE
!MANIFEST.in
!README.md

!setup.py
!pyBedGraph/
!pyBedGraph/*.py
!pyBedGraph/data/
!pyBedGraph/data/chrom_sizes/
!pyBedGraph/data/chrom_sizes/*.sizes
!test/
!test/*
!test/graphs/
